<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>微信摇一摇动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D09214121D6843EB004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D092142B1D6843EB004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09214361D6843EB004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
